@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

h1 {
  font-family: 'Monoton', cursive;
  color: #9eebcf;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: 200;
}
